:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fondo {
// <<<<<<< HEAD
  background-image: url('/images/logos/login.svg');
// =======
//   background-image: url('/repositorio/images/logos/login.svg');
// >>>>>>> 91e906b93cf90e60d617afcd19f441323b467a47
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // min-height: 100vh; /* Para ocupar toda la pantalla */
  // padding: 40px;     /* Para que no se pegue al borde */
//   background-color: red;
}