// Typography

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:image("/assets/images/logos/login.svg");
}

// Social colors
@each $color, $value in $social-colors {
  .text-#{$color} {
    color: $value;
  }
}